
  {% if sort_by == 'views' %}
    <div class="container nbcontainer center-block">
    {% for nb in nbs %}
    <div class="thumbitem thumbnail">
      <a href="/redirect/{{nb.id}}" target="_blank">
        <img width="295px" src="/{{nb.thumb_img}}" alt="{{nb.title}}"/>
      </a>
      <h4>{{nb.title}}</h4>
      <p>{{nb.description}}</p>
    </div>
    {% endfor %}
    </div> <!-- /nbcontainer -->

  {% elif sort_by == 'date'%} 

    <div class="container nbcontainer center-block">
    {% for date, d_nbs in nbs %}
    <div class="thumbitem thumbnail alert alert-info" role="alert">
      <h2 style="font-weight: bold; font-size: 30pt; height: 100px; margin-top: 100px">{{date}}</h2>
    </div>
    {% for nb in d_nbs %}
    <div class="thumbitem thumbnail">
      <a href="/redirect/{{nb.id}}" target="_blank">
        <img width="295px" src="/{{nb.thumb_img}}" alt="{{nb.title}}"/>
      </a>
      <h4>{{nb.title}}</h4>
      <p>{{nb.description}}</p>
    </div>
    {% endfor %}
    {% endfor %}
    </div> <!-- /nbcontainer -->

  {% endif %}




  {% if more_pages %}
  <nav class="thumbitem paging">
        <a href="/sort/{{sort_by}}/{{next_page}}/" class="next">Load Next Items</a>
  </nav>
  {% else %}
  <nav class="thumbitem paging">
        <h3>There are no more items</h3>
  </nav>
  {% endif %}
