{% extends "web/base.html" %}
{% load bootstrap %}

{% block content %}

<div class="container" style="margin-top: 100px; margin-bottom: 200px">
<h2>Here you can submit a Notebook so that it appears on the website</h2>
<form action="/submit/" method="post" id="submitForm">
    {% csrf_token %}
    {{ form|bootstrap }}
    <input id="button_submit" type="submit" class="btn btn-default" value="Submit" />
</form>

<!-- the result of the search will be rendered inside this div -->
<div id="result" class="container" style='text-align: center'></div>

</div>
{% endblock %}


{% block scripts %}
  <script>
$( "#submitForm" ).submit(function( event ) {

  $('#button_submit').addClass('disabled');

  // Stop form from submitting normally
  event.preventDefault();

  // Get some values from elements on the page:
  var $form = $( this ),
    term = $form.find( "input[name='URL']" ).val(),
    url = $form.attr( "action" );
    csrfmiddlewaretoken = $form.find("input[name='csrfmiddlewaretoken']").val();

  // Send the data using post
  data_post = { 'URL': term, 'csrfmiddlewaretoken': csrfmiddlewaretoken };
  var posting = $.post( url,  data_post);


  // put some loading image while we wait
  $('#result').empty().append('<h3>processing your notebook</h3><p>(can take up to one minute) ... </p><p><img src="/static/img/ajax-loader.gif" /></p>');

  // XXX TODO do something on timeout

  // Put the results in a div
  posting.done(function( data ) {
    $( "#result" ).empty().append( data );
    $('#button_submit').removeClass('disabled');
  });

  posting.fail(function (xhr, textStatus, errorThrown) {
    $( "#result" ).empty().append(xhr.responseText);
  });
});
  </script>
{% endblock %}
